<div class="d-flex h-100 text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main class="px-3">
            <h1>Welcome to the Synthesizer Showcase Website</h1>
            <img class="mb-4" id="synthShowcaseIcon" src="../../assets/synthesizer.png" alt="Synthesizers Showcase Image" width="300" height="300">
            <p class="lead">You can visit the <b>Showcase</b> and, if you are a registered user, edit an existing <b>Synthesizer</b> or creating a new one.</p>
            <p class="lead">Synthesizer Showcase is a website built in order to practice the Angular framework for the front-end part, and the Spring framework for the back-end part.</p>
            <p class="lead">
              <a href="https://github.com/killbizz/Synthesizers-Showcase-FE" class="btn btn-lg btn-secondary fw-bold">Github Repository</a>
            </p>
          </main>
    </div>
</div>