<div class="d-flex h-100 text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main class="px-3">
            <h1>Welcome to the Synthesizer Showcase Website</h1>
            <p class="lead">Synthesizer Showcase is a website built by Gabriel Bizzo in order to practice Javascript, Typescript and the Angular framework.</p>
            <p class="lead">You can visit the <a href="/synths">Showcase</a> or add a <a href="synths/new">New Synthesizer</a> using the navigation bar above.</p>
            <p class="lead">
              <a href="" class="btn btn-lg btn-secondary fw-bold">Github Repository</a>
            </p>
          </main>
    </div>
</div>